
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.459rem;
}.frame-9-29Q {
  width: 100%;
  height: 6.735rem;

  .group-13-z6E {
    height: 100%;
    line-height: 1.255;
    white-space: nowrap;
    align-items: center;
    background-color: #f6f2eb;
    border-radius: 3.3675rem;
    width: 100%;
    font-size: 2.5415rem;
    font-weight: 700;
    color: #000000;
    font-family: Mulish, 'Source Sans Pro';
    display: flex;
    justify-content: center;
  }
}
