
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.438rem;
}.group-4-Sre {
  height: 3.5rem;
  position: relative;
  width: 100%;

  .list-15-Q2n {
    height: 3.5rem;
    position: absolute;
    left: 22.4875rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 5.95rem;
  }
  .rectangle-11-wHc {
    background-color: #7ba32e;
    border-radius: 4.4305rem;
    width: 23.1rem;
    height: 0.525rem;
    position: absolute;
    left: 0;
    top: 1.4875rem;
  }
}
