
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-6-Uve {
  height: 704.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .line-7-rwC {
    background-color: #000000;
    width: 170.8rem;
    height: 0.0811rem;
    position: absolute;
    left: 1rem;
    top: 488.7rem;
  }
  .roadmap-timeline-XGe {
    width: 86.7rem;
    height: 10.5rem;
    left: 44.1rem;
    font-size: 8.5893rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 497.7rem;
    text-align: right;
    text-transform: capitalize;
    font-family: Inter, 'Source Sans Pro';
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-mwg {
    height: 8.1rem;
    top: 520.85rem;
    text-align: center;
    font-weight: 500;
    font-family: Mulish, 'Source Sans Pro';
    width: 21.9rem;
    position: absolute;
    left: 29.7313rem;
    font-size: 2.1301rem;
    line-height: 1.255;
    color: #000000;
  }
  .join-gaia-in-our-mission-to-foster-sustainability-and-environmental-betterment-through-innovation-and-educational-initiatives-embrace-the-opportunity-to-contribute-to-a-more-ecologically-sustainable-future-for-our-world-dyt {
    height: 14.9rem;
    position: absolute;
    top: 645.7rem;
    color: #000000;
    font-family: Mulish, 'Source Sans Pro';
    width: 85.5rem;
    left: 9.8rem;
    font-size: 2.9564rem;
    font-weight: 500;
    line-height: 1.255;
  }
  .auto-group-uvgr-rLr {
    width: 15rem;
    height: 4.5rem;
    position: absolute;
    left: 9.8rem;
    top: 663.1rem;
    display: flex;
    align-items: flex-start;

    .explore-Rgn {
      margin-right: 0.4rem;
      font-weight: 600;
      color: #000000;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 3.313rem;
      line-height: 1.255;
      white-space: nowrap;
    }
    .item--YFc {
      line-height: 1.255;
      color: #000000;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 3.3524rem;
      font-weight: 700;
    }
  }
  .line-5-r1Q {
    position: absolute;
    left: 40.2101rem;
    top: 297.2rem;
    background-color: #000000;
    width: 94.2103rem;
    height: 0.0811rem;
  }
  .line-6-LhG {
    left: 40.3rem;
    top: 392.4813rem;
    background-color: #000000;
    width: 94.2103rem;
    height: 0.0811rem;
    position: absolute;
  }
  .educational-website-UoU {
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 84.3rem;
    height: 8.6rem;
    left: 45.2319rem;
    top: 308.3rem;
    text-align: center;
    font-size: 7.0168rem;
    font-weight: 700;
    color: #000000;
  }
  .offers-eco-social-knowledge-with-videos-for-all-ages-from-students-to-specialists-its-a-versatile-tool-for-learning-and-there-are-plans-to-introduce-supervisors-for-personalized-assistance-AgJ {
    width: 91.3rem;
    height: 10.6rem;
    left: 42.42rem;
    top: 318.9rem;
    font-size: 2.7995rem;
    color: #000000;
    position: absolute;
    text-align: center;
    font-weight: 500;
    line-height: 1.255;
    font-family: Mulish, 'Source Sans Pro';
  }
  .auto-group-q8uq-ZiS {
    display: flex;
    border-radius: 6.8801rem;
    padding: 5.495rem 5.448rem 6.597rem 5.8rem;
    width: 102.2192rem;
    height: 36.9983rem;
    position: absolute;
    left: 35.3rem;
    top: 337.9813rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #816dbc;

    .auto-group-a7ws-1KY {
      margin-bottom: 8.8078rem;
      width: 100%;
      height: 6.7589rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ar1l-ijk {
        white-space: nowrap;
        flex-shrink: 0;
        width: 20.4592rem;
        font-size: 2.5415rem;
        color: #000000;
        display: flex;
        align-items: center;
        background-color: #f6f2eb;
        height: calc(100% - 0.0239rem);
        line-height: 1.255;
        font-family: Mulish, 'Source Sans Pro';
        border-radius: 3.3675rem;
        justify-content: center;
        margin: 0.005rem 3.041rem 0.019rem 0rem;
        font-weight: 700;
      }
      .auto-group-xyhk-V8E {
        width: 20.4592rem;
        font-size: 2.5415rem;
        color: #000000;
        font-family: Mulish, 'Source Sans Pro';
        margin: 0.024rem 3.043rem 0rem 0rem;
        height: calc(100% - 0.0239rem);
        line-height: 1.255;
        justify-content: center;
        font-weight: 700;
        display: flex;
        align-items: center;
        background-color: #f6f2eb;
        white-space: nowrap;
        border-radius: 3.3675rem;
        flex-shrink: 0;
      }
      .auto-group-2ksq-x1p {
        white-space: nowrap;
        margin: 0rem 3.05rem 0.024rem 0rem;
        width: 20.4592rem;
        height: calc(100% - 0.0239rem);
        font-size: 2.5415rem;
        font-weight: 700;
        line-height: 1.255;
        color: #000000;
        align-items: center;
        display: flex;
        background-color: #f6f2eb;
        border-radius: 3.3675rem;
        font-family: Mulish, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
      }
      .auto-group-msp8-oHL {
        width: 20.4592rem;
        height: calc(100% - 0.0239rem);
        font-size: 2.5415rem;
        white-space: nowrap;
        background-color: #f6f2eb;
        margin-bottom: 0.0239rem;
        border-radius: 3.3675rem;
        font-family: Mulish, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        font-weight: 700;
        color: #000000;
        align-items: center;
        justify-content: center;
        line-height: 1.255;
      }
    }
    .auto-group-zjjl-SbC {
      height: 9.3401rem;
      border-radius: 4.67rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.508rem 0.699rem 0.572rem 4.13rem;
      width: calc(100% - 17.2669rem);
      background-color: #ffffff;
      margin: 0rem 9.975rem 0rem 7.291rem;
      display: flex;
      align-items: center;

      .typing-Hri {
        margin: 1.398rem 57.438rem 1.906rem 0rem;
        width: 2.2874rem;
        height: calc(100% - 3.304rem);
        cursor: pointer;
        flex-shrink: 0;

        .mask-group-zWE {
          width: 100%;
          height: 100%;
          border-right: solid 0.0635rem #000000;
          box-sizing: border-box;

          .auto-group-atwi-La6 {
            width: 2.2238rem;
            height: 4.956rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-deoc-6xa {
        display: flex;
        height: 100%;
        line-height: 1.255;
        white-space: nowrap;
        font-weight: 700;
        font-size: 4.0664rem;
        color: #000000;
        font-family: Mulish, 'Source Sans Pro';
        background-color: #f6f2eb;
        flex-shrink: 0;
        width: 9.1495rem;
        justify-content: center;
        border-radius: 4.1935rem;
        align-items: center;
      }
    }
  }
  .group-8-knE {
    display: flex;
    align-items: center;
    width: 24.6952rem;
    height: 4.2rem;
    position: absolute;
    left: 74.1rem;
    top: 381.6813rem;

    .see-more-HXG {
      margin-right: 1.9rem;
      font-size: 3.313rem;
      font-weight: 400;
      line-height: 1.255;
      color: #816dbc;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-ewza-DA2 {
      margin: 0.271rem 0rem 0.529rem 0rem;
      width: 6.2952rem;
      height: calc(100% - 0.8rem);
      position: relative;
      flex-shrink: 0;

      .vector-1-ULr {
        object-fit: contain;
        vertical-align: top;
        width: 6.0714rem;
        height: 0;
        position: absolute;
        left: 0;
        top: 1.9286rem;
      }
      .item--Zt6 {
        height: 3.4rem;
        position: absolute;
        left: 4.5952rem;
        font-size: 2.682rem;
        font-weight: 400;
        line-height: 1.255;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.7rem;
        top: 0;
        color: #816dbc;
      }
    }
  }
  .line-3-RvJ {
    width: 94.2103rem;
    height: 0.0811rem;
    position: absolute;
    left: 40.4101rem;
    top: 206.7924rem;
    background-color: #000000;
  }
  .auto-group-x6ga-9LW {
    align-items: center;
    width: 131.2518rem;
    height: 70.7674rem;
    position: absolute;
    left: 19.3482rem;
    top: 0;
    display: flex;

    .auto-group-ffnj-Uta {
      margin-right: 4.7rem;
      width: 114.1518rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .logo-text-1-RJ2 {
        width: 48.3039rem;
        height: 68.315rem;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;

        .logo-text-2-YNe {
          width: 46.6583rem;
          height: 65.9708rem;
          position: absolute;
          left: 18.9068rem;
          top: 7.5461rem;
          overflow: hidden;
        }
        .vector-FXx {
          position: absolute;
          left: 12.2529rem;
          top: 3.8135rem;
          object-fit: contain;
          vertical-align: top;
          width: 21.26rem;
          height: 4.0573rem;
        }
        .black-1-b62 {
          width: 2.8401rem;
          height: 2.7589rem;
          position: absolute;
          left: 8.6402rem;
          top: 10.3381rem;
          object-fit: cover;
          vertical-align: top;
        }
        .vector-v8J {
          height: 4.0951rem;
          position: absolute;
          left: 17.0678rem;
          top: 14.8315rem;
          object-fit: contain;
          vertical-align: top;
          width: 21.2905rem;
        }
        .vector-Te2 {
          left: 11.2677rem;
          top: 18.0442rem;
          object-fit: contain;
          vertical-align: top;
          width: 21.2905rem;
          height: 4.0951rem;
          position: absolute;
        }
        .gaia-PGn {
          white-space: nowrap;
          width: 6.3rem;
          position: absolute;
          left: 11.9488rem;
          top: 9.5219rem;
          font-size: 2.5966rem;
          color: #000000;
          font-family: Mitr, 'Source Sans Pro';
          height: 4.1rem;
          font-weight: 400;
          line-height: 1.57;
        }
      }
      .ellipse-7-fVC {
        width: 6.4104rem;
        height: 5.5178rem;
        position: absolute;
        left: 90.3997rem;
        top: 55.3495rem;
        object-fit: contain;
        vertical-align: top;
      }
      .care-and-share-together-1JA {
        font-family: Inter, 'Source Sans Pro';
        left: 33.6518rem;
        font-size: 4.6705rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 67.8rem;
        height: 5.7rem;
        position: absolute;
        top: 41.2851rem;
        text-transform: uppercase;
      }
      .environment-is-one-of-us-one-of-us-is-indeed-a-part-of-environment-WVp {
        font-family: Inter, 'Source Sans Pro';
        height: 3.2rem;
        top: 47.9653rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 83.5rem;
        position: absolute;
        left: 27.9795rem;
        font-size: 2.5966rem;
      }
      .rectangle-1-Nnv {
        height: 5.5178rem;
        position: absolute;
        left: 42.6677rem;
        top: 55.3495rem;
        border: solid 0.0811rem #000000;
        box-sizing: border-box;
        border-radius: 3.895rem;
        width: 54.0425rem;
      }
      .faq-tFU {
        position: absolute;
        left: 95.7518rem;
        top: 10.5rem;
        font-size: 1.8703rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.7rem;
        height: 2.3rem;
        cursor: pointer;
        font-weight: 600;
        color: #000000;
      }
      .projects-Mer {
        left: 104.3518rem;
        top: 10.6rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #000000;
        height: 2.3rem;
        cursor: pointer;
        position: absolute;
        font-size: 1.8703rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.8rem;
      }
    }
    .contact-us-fQe {
      margin-bottom: 27.4674rem;
      font-size: 1.8703rem;
      font-weight: 600;
      text-transform: uppercase;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
    }
  }
  .group-1-bJJ {
    position: absolute;
    left: 83.5741rem;
    top: 63.8811rem;
    display: flex;
    align-items: flex-end;
    width: 9.1694rem;
    height: 4.0345rem;

    .psheno2-15-7XY {
      flex-shrink: 0;
      margin-right: 1.1003rem;
      width: 1.9561rem;
      height: 4.0345rem;
      object-fit: cover;
      vertical-align: top;
    }
    .recycle1-15-Spi {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.9781rem;
      width: 2.8119rem;
      height: 2.8119rem;
    }
    .list-34-NyG {
      width: 2.3229rem;
      height: 4.0345rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .line-1-uTQ {
    width: 170.8rem;
    height: 0.0901rem;
    position: absolute;
    left: 1rem;
    top: 85.8rem;
    background-color: #000000;
  }
  .join-gaia-and-save-the-environment-eA6 {
    position: absolute;
    top: 108.1rem;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    line-height: 1.2102272627;
    font-family: Inter, 'Source Sans Pro';
    width: 64.3rem;
    height: 12.6rem;
    left: 26.4155rem;
    font-size: 5.1933rem;

    .join-gaia-and-save-the-environment-eA6-sub-0 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 5.1933rem;
      font-weight: 700;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #000000;
    }
    .join-gaia-and-save-the-environment-eA6-sub-1 {
      font-size: 5.1933rem;
      font-weight: 700;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #7ba32e;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .gaia-is-an-organization-with-intentions-to-create-new-solutions-to-complete-eco-social-tasks-with-the-best-options-possible-by-implementing-our-gaia-based-ideas-gaias-main-task-to-create-an-environment-with-ecological-sustainability-which-will-lead-to-better-social-life-with-healthy-impact-on-a-society-and-environment-c2N {
    font-family: Mulish, 'Source Sans Pro';
    top: 125.3839rem;
    font-size: 2.5966rem;
    font-weight: 400;
    line-height: 1.255;
    color: #000000;
    width: 69.7rem;
    height: 19.6rem;
    position: absolute;
    left: 25.4155rem;
  }
  .leafs-uQn {
    height: 41.6273rem;
    position: absolute;
    left: 118.4rem;
    top: 104.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 31.4113rem;

    .auto-group-nxlw-C8z {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 2.84rem 0.008rem;
      width: calc(100% - 0.0083rem);
      display: flex;

      .list-24-u3Q {
        margin-right: 3.9802rem;
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .list-26-dk6 {
        margin-right: 4.0573rem;
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .list-28-a9Y {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0531rem;
        width: 4.7875rem;
        height: 8.2768rem;
        object-fit: cover;
      }
      .list-32-KN2 {
        width: 4.7875rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-srwg-2GS {
      margin: 0rem 0.004rem 2.84rem 0.004rem;
      width: calc(100% - 0.0083rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .list-23-MZc {
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.9802rem;
        width: 4.8687rem;
      }
      .list-25-u5L {
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0572rem;
      }
      .list-27-qjg {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0531rem;
        width: 4.7875rem;
        height: 8.2768rem;
        object-fit: cover;
      }
      .list-30-AGA {
        vertical-align: top;
        flex-shrink: 0;
        width: 4.7875rem;
        height: 8.2768rem;
        object-fit: cover;
      }
    }
    .auto-group-jwf8-Hbg {
      flex-shrink: 0;
      margin: 0rem 0.004rem 2.84rem 0.004rem;
      width: calc(100% - 0.0083rem);
      display: flex;
      align-items: center;

      .list-20-ctr {
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.9802rem;
      }
      .list-21-xSv {
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0572rem;
      }
      .list-22-5XY {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0531rem;
        width: 4.7875rem;
        height: 8.2768rem;
      }
      .list-31-Dte {
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 4.7875rem;
      }
    }
    .auto-group-3tna-A3C {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.0083rem;
      width: calc(100% - 0.0083rem);

      .list-12-JQJ {
        margin-right: 3.9802rem;
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .list-11-FaS {
        margin-right: 4.0572rem;
        width: 4.8687rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .list-19-beJ {
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0531rem;
        width: 4.7875rem;
      }
      .list-29-k1Q {
        flex-shrink: 0;
        width: 4.7875rem;
        height: 8.2768rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .line-4-S98 {
    width: 126.8rem;
    height: 0.0811rem;
    position: absolute;
    left: 25.2rem;
    top: 159.3rem;
    background-color: #000000;
  }
  .auto-group-b71l-ZzS {
    position: absolute;
    left: 38.2741rem;
    top: 179.0206rem;
    display: flex;
    align-items: center;
    width: 96.5324rem;
    height: 4.1rem;

    .reliable-har {
      font-size: 3.2458rem;
      font-weight: 700;
      line-height: 1.255;
      color: #7ba32e;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 26.7307rem;
    }
    .eco-friendly-E4z {
      line-height: 1.255;
      color: #7ba32e;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 28.4017rem;
      font-size: 3.2458rem;
      font-weight: 700;
    }
    .helpful-xWn {
      font-weight: 700;
      line-height: 1.255;
      color: #7ba32e;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2458rem;
    }
  }
  .auto-group-qze2-6st {
    height: 9.8rem;
    position: absolute;
    left: 27.6042rem;
    top: 184.5384rem;
    display: flex;
    align-items: center;
    width: 118.2267rem;

    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-RvA {
      line-height: 1.255;
      color: #000000;
      margin-right: 9.901rem;
      text-align: center;
      font-size: 1.9475rem;
      font-weight: 500;
      max-width: 32.7rem;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-f3p {
      margin-right: 10.2256rem;
      font-size: 1.9475rem;
      line-height: 1.255;
      color: #000000;
      max-width: 32.7rem;
      text-align: center;
      font-weight: 500;
      font-family: Mulish, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-w1L {
      flex-shrink: 0;
      max-width: 32.7rem;
      text-align: center;
      font-size: 1.9475rem;
      font-weight: 500;
      line-height: 1.255;
      color: #000000;
      font-family: Mulish, 'Source Sans Pro';
    }
  }
  .auto-group-fhtq-q6i {
    align-items: center;
    width: 93.2374rem;
    height: 8.8921rem;
    position: absolute;
    left: 40.3823rem;
    top: 168.1716rem;
    display: flex;

    .layer1-Mqk {
      box-sizing: border-box;
      position: relative;
      background-repeat: no-repeat;
      flex-shrink: 0;
      margin: 0.459rem 35.88rem 0.547rem 0rem;
      height: calc(100% - 1.0059rem);
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:41:477');
      padding: 2.273rem 2.011rem 2.288rem 2.057rem;

      .vector-fbY {
        vertical-align: top;
        width: 3.1567rem;
        height: 3.3252rem;
        object-fit: contain;
      }
    }
    .layer1-AoC {
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 35.8rem;
      height: 100%;
      background-size: cover;
      position: relative;
      background-image: url('REPLACE_IMAGE:37:456');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.025rem 1.177rem 2.745rem 1.177rem;
      overflow: hidden;

      .vector-GLS {
        vertical-align: top;
        width: 3.7826rem;
        height: 3.1225rem;
        object-fit: contain;
      }
    }
    .layer1-138 {
      flex-shrink: 0;
      margin-top: 0.3915rem;
      width: 8.1963rem;
      height: 7.5471rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-uxan-99L {
    position: absolute;
    left: 13rem;
    top: 219rem;
    display: flex;
    align-items: flex-end;
    width: 146.6rem;
    height: 61.2rem;

    .recycle-Gze {
      margin: 0rem 8.832rem 1.477rem 0rem;
      box-sizing: border-box;
      width: 62.9684rem;
      cursor: pointer;
      align-items: center;
      flex-shrink: 0;
      padding: 5.193rem 6.735rem 1.276rem 5.227rem;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;

      .auto-group-ljmx-X9t {
        margin-bottom: 7.8485rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .item--4JE {
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 12.6879rem;
          text-align: right;
          font-size: 10.3865rem;
          flex-shrink: 0;
        }
        .item--8Yz {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 13.418rem 10.711rem 0rem;
          text-align: right;
          font-size: 10.3865rem;
          font-weight: 700;
          flex-shrink: 0;
        }
        .item--1Mt {
          text-align: right;
          font-size: 10.3865rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-adpe-Y6v {
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 6rem;
        width: calc(100% - 6rem);
        height: 22.0939rem;
        display: flex;

        .item--56r {
          margin-right: 5.9061rem;
          text-align: right;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 10.3865rem;
          color: #ffffff;
          flex-shrink: 0;
        }
        .auto-group-vapa-Bfg {
          width: 32.8rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item--i9p {
            height: 12.6rem;
            position: absolute;
            left: 0;
            font-size: 10.3865rem;
            font-weight: 700;
            color: #ffffff;
            width: 32.8rem;
            top: 0;
            text-align: right;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--kPL {
            white-space: nowrap;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 6.7818rem;
            top: 9.4939rem;
            text-align: right;
            font-size: 10.3865rem;
            font-weight: 700;
            width: 6.3rem;
            height: 12.6rem;
            color: #ffffff;
          }
        }
      }
    }
    .auto-group-kqhg-dT8 {
      width: 74.8rem;
      flex-shrink: 0;

      .gaia-recycle-yWz {
        width: 100%;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 2rem;
        font-size: 7.303rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .revolutionizing-food-waste-management-by-connecting-producers-and-consumers-for-waste-reduction-resource-conservation-and-economic-advantages-all-while-fostering-ecological-responsibility-join-us-in-creating-a-sustainable-ecosystem-uQe {
        font-family: Mulish, 'Source Sans Pro';
        margin-bottom: 7rem;
        max-width: 74.8rem;
        font-size: 2.4343rem;
        font-weight: 500;
        line-height: 1.255;
        color: #000000;
      }
      .together-we-can-make-a-positive-impact-on-our-environment-while-addressing-food-security-and-sustainability-challenges-j8n {
        margin-bottom: 8.4rem;
        max-width: 49.6rem;
        font-size: 2.4343rem;
        font-weight: 500;
        line-height: 1.255;
        color: #000000;
        font-family: Mulish, 'Source Sans Pro';
      }
      .group-10-afC {
        align-items: center;
        margin-right: 50.1048rem;
        width: calc(100% - 50.1048rem);
        height: 4.2rem;
        display: flex;

        .see-more-6Ne {
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.9rem;
          font-size: 3.313rem;
          font-weight: 400;
          line-height: 1.255;
          color: #816dbc;
        }
        .auto-group-evpw-ppS {
          margin: 0.271rem 0rem 0.529rem 0rem;
          width: 6.2952rem;
          height: calc(100% - 0.8rem);
          position: relative;
          flex-shrink: 0;

          .vector-1-jwQ {
            width: 6.0714rem;
            height: 0;
            position: absolute;
            left: 0;
            top: 1.9286rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item--HT8 {
            font-family: Mulish, 'Source Sans Pro';
            width: 1.7rem;
            height: 3.4rem;
            position: absolute;
            left: 4.5952rem;
            top: 0;
            font-size: 2.682rem;
            font-weight: 400;
            line-height: 1.255;
            color: #816dbc;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .marketplace-kbc {
    font-weight: 700;
    width: 53.4rem;
    height: 8.6rem;
    top: 403.0813rem;
    text-align: center;
    font-size: 7.0168rem;
    white-space: nowrap;
    position: absolute;
    left: 65.2243rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-9-cdp {
    height: 4.2rem;
    position: absolute;
    left: 93.2rem;
    top: 471.6rem;
    display: flex;
    align-items: center;
    width: 24.6952rem;

    .see-more-wg6 {
      font-size: 3.313rem;
      font-weight: 400;
      line-height: 1.255;
      color: #7ba32e;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.9rem;
    }
    .auto-group-rqdg-spe {
      height: calc(100% - 0.8rem);
      position: relative;
      flex-shrink: 0;
      margin: 0.271rem 0rem 0.529rem 0rem;
      width: 6.2952rem;

      .vector-1-oCW {
        top: 1.9286rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.0714rem;
        height: 0;
        position: absolute;
        left: 0;
      }
      .item--9GN {
        width: 1.7rem;
        position: absolute;
        left: 4.5952rem;
        font-size: 2.682rem;
        font-weight: 400;
        line-height: 1.255;
        height: 3.4rem;
        top: 0;
        color: #7ba32e;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-syyt-eiv {
    width: 135.1rem;
    height: 41.9rem;
    position: absolute;
    left: 17.9rem;
    top: 426.5rem;
    display: flex;
    align-items: flex-end;

    .rectangle-12-Zqt {
      background-color: rgba(123, 163, 46, 0.1199999973);
      border-radius: 7.7rem;
      flex-shrink: 0;
      margin: 0rem 14.8rem 0.1rem 0rem;
      width: 60.5rem;
      height: 41.8rem;
    }
    .auto-group-ttpg-t7U {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .food-sustainability-by-connecting-individuals-to-reduce-waste-and-lower-costs-qYW {
        color: #7ba32e;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 8.4rem;
        max-width: 53.5rem;
        font-size: 2.4343rem;
        font-weight: 500;
        line-height: 1.255;
      }
      .a-green-solution-to-combat-food-waste-benefiting-both-the-environment-and-your-budget-93Q {
        line-height: 1.255;
        color: #7ba32e;
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 11rem;
        max-width: 56.5rem;
        font-size: 2.4343rem;
        font-weight: 500;
      }
      .joining-gaia-marketplace-means-participating-in-a-community-dedicated-to-creating-a-more-eco-friendly-and-sustainable-future-CnN {
        font-family: Mulish, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 59.8rem;
        font-size: 2.4343rem;
        font-weight: 500;
        line-height: 1.255;
        color: #000000;
      }
    }
  }
  .auto-group-wpas-HJ2 {
    align-items: flex-end;
    width: 33.2rem;
    height: 4.6rem;
    position: absolute;
    left: 7.5rem;
    top: 691.5rem;
    display: flex;

    .black-1-R9L {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 16.2rem;
      width: 4.5rem;
      height: 4.6rem;
    }
    .contact-us-72A {
      text-transform: lowercase;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5739rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .instagram-EsU {
    width: 12.1rem;
    height: 3.2rem;
    left: 28.2rem;
    font-size: 2.5739rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 697.1rem;
  }
  .frame-10-YtA {
    overflow: hidden;
    width: 114.8305rem;
    height: 45.1296rem;
    position: absolute;
    left: 12.8rem;
    top: 557rem;

    .frame-2-gzN {
      align-items: flex-start;
      width: 100%;
      height: 100%;
      display: flex;

      .frequently-asked-questions-Fna {
        font-size: 7rem;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        margin: 1.8rem 22.7rem 0rem 0rem;
        max-width: 66.6rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Inter, 'Source Sans Pro';
      }
      .faqs-xwt {
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        position: relative;
        row-gap: 0.1rem;
        flex-shrink: 0;
        padding: 1rem 0rem 1.03rem 1rem;
        width: 25.5305rem;
        display: flex;
        flex-direction: column;

        .accordion-RqU {
          width: 51.7rem;
          height: 9.8rem;
          flex-shrink: 0;

          .question-zNn {
            height: 5.4rem;
            display: flex;
            align-items: center;
            width: 23.5305rem;

            .item--7yC {
              cursor: pointer;
              text-align: right;
              font-weight: 300;
              color: #816dbc;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5.5305rem;
              font-size: 4.2536rem;
              line-height: 1.255;
            }
            .question-ykW {
              margin-top: 0.6211rem;
              color: #000000;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 2.7842rem;
              font-weight: 400;
              line-height: 1.255;
            }
          }
        }
        .accordion-762 {
          width: 51.7rem;
          height: 9.8rem;
          flex-shrink: 0;

          .question-s5C {
            width: 23.5305rem;
            height: 5.4rem;
            display: flex;
            align-items: center;

            .item--Der {
              font-weight: 300;
              line-height: 1.255;
              color: #816dbc;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 5.5305rem;
              text-align: right;
              font-size: 4.2536rem;
              white-space: nowrap;
              cursor: pointer;
            }
            .question-W8A {
              text-align: right;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.6211rem;
              font-size: 2.7842rem;
              line-height: 1.255;
              color: #000000;
              font-family: Mulish, 'Source Sans Pro';
            }
          }
        }
        .accordion-cgz {
          height: 9.8rem;
          flex-shrink: 0;
          width: 51.7rem;

          .question-yXY {
            width: 23.5305rem;
            height: 5.4rem;
            display: flex;
            align-items: center;

            .item--vxa {
              cursor: pointer;
              font-weight: 300;
              line-height: 1.255;
              font-family: Mulish, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 5.5305rem;
              text-align: right;
              font-size: 4.2536rem;
              color: #816dbc;
              white-space: nowrap;
            }
            .question-eta {
              line-height: 1.255;
              color: #000000;
              font-size: 2.7842rem;
              text-align: right;
              font-weight: 400;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.6211rem;
            }
          }
        }
        .accordion-b38 {
          width: 51.7rem;
          height: 9.8rem;
          flex-shrink: 0;

          .question-wsg {
            width: 23.5305rem;
            height: 5.4rem;
            display: flex;
            align-items: center;

            .item--sFY {
              margin-right: 5.5305rem;
              cursor: pointer;
              font-weight: 300;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              text-align: right;
              font-size: 4.2536rem;
              line-height: 1.255;
              color: #816dbc;
              flex-shrink: 0;
            }
            .question-ypN {
              font-size: 2.7842rem;
              line-height: 1.255;
              flex-shrink: 0;
              margin-top: 0.6211rem;
              font-weight: 400;
              color: #000000;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              text-align: right;
            }
          }
        }
        .group-12-5sQ {
          align-items: center;
          flex-shrink: 0;
          margin-right: 3.8059rem;
          width: calc(100% - 3.8059rem);
          height: 3.5rem;
          display: flex;

          .see-more-bqk {
            line-height: 1.255;
            color: #816dbc;
            font-family: Mulish, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.4789rem;
            font-size: 2.7842rem;
            font-weight: 400;
          }
          .group-7-KFx {
            width: 5.3458rem;
            height: calc(100% - 0.6rem);
            position: relative;
            flex-shrink: 0;
            margin: 0.252rem 0rem 0.348rem 0rem;

            .vector-1-d1k {
              left: 0;
              top: 1.6667rem;
              object-fit: contain;
              vertical-align: top;
              width: 5.1023rem;
              height: 0;
              position: absolute;
            }
            .item--wYE {
              width: 1.4rem;
              font-size: 2.2538rem;
              font-weight: 400;
              line-height: 1.255;
              font-family: Mulish, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.9rem;
              position: absolute;
              left: 3.9458rem;
              top: 0;
              color: #816dbc;
            }
          }
        }
      }
    }
  }
  .line-8-35U {
    width: 170.8rem;
    height: 0.0811rem;
    position: absolute;
    left: 1rem;
    top: 538.4rem;
    background-color: #000000;
  }
}
