
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 675.7rem;
}.recycle-mC6 {
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 1.6rem 2rem 2rem 2rem;
  width: 100%;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1frame-1-HRL {
    height: 77.8rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 18.8rem;
    padding: 6.4rem 10.6rem 5.7rem 6.4rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    width: 79.9rem;

    .auto-group-krww-wEz {
      margin-bottom: 9.6rem;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .item--GHG {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 12.8rem;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.2125;
        margin-right: 15.7rem;
        text-align: right;
      }
      .item--yhU {
        white-space: nowrap;
        font-size: 12.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 16.6rem 13.2rem 0rem;
        text-align: right;
        line-height: 1.2125;
      }
      .item--HCN {
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
      }
    }
    .auto-group-zahq-byk {
      align-items: flex-start;
      flex-shrink: 0;
      margin-left: 7.5rem;
      width: calc(100% - 7.5rem);
      height: 27.3rem;
      display: flex;

      .item--LwL {
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        margin-right: 7.3rem;
        text-align: right;
        font-size: 12.8rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-fwb4-EG2 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 40.4rem;

        .item--N7L {
          height: 15.6rem;
          left: 0;
          text-align: right;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 40.4rem;
          position: absolute;
          top: 0;
          font-size: 12.8rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .item--51k {
          height: 15.6rem;
          left: 8.4rem;
          font-size: 12.8rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          width: 7.7rem;
          position: absolute;
          top: 11.7rem;
          text-align: right;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
        }
      }
    }
  }
  .property-1frame-2-AJ6 {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.9rem 9.577rem 3.01rem 7.81rem;
    width: 79.5rem;
    margin: 0.4rem 19.2rem 0rem 0rem;
    cursor: pointer;
    align-items: center;

    .auto-group-c5xg-3cn {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 10.2rem 7.531rem;
      display: flex;

      .item--Nf4 {
        margin-right: 6.5131rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--TRc {
        margin: 0rem 15.55rem 13.5rem 0rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--aFL {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        line-height: 1.2125;
        color: #ffffff;
        margin-bottom: 0.0374rem;
        font-size: 12.8rem;
        font-weight: 700;
      }
    }
    .auto-group-ryan-UrW {
      flex-shrink: 0;
      width: 100%;
      height: 30.1897rem;
      display: flex;
      align-items: flex-start;

      .auto-group-ghdk-djQ {
        margin-right: 14.0131rem;
        width: 40.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--PCn {
          position: absolute;
          font-size: 12.8rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 40.4rem;
          left: 0;
          top: 14.5897rem;
          text-align: right;
          color: #ffffff;
          white-space: nowrap;
          height: 15.6rem;
        }
        .item--Hox {
          width: 7.7rem;
          position: absolute;
          top: 0;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          height: 15.6rem;
          left: 8.4904rem;
          text-align: right;
          font-size: 12.8rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .item--onJ {
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 12.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        margin-top: 1.7998rem;
        text-align: right;
      }
    }
  }
  .property-1frame-3-w7p {
    padding: 4.124rem 11.338rem 3.719rem 0rem;
    width: 79.5rem;
    height: 77.4rem;
    cursor: pointer;
    align-items: center;
    flex-shrink: 0;
    margin: 0.4rem 19.2rem 0rem 0rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;

    .auto-group-ohsa-Dr2 {
      margin: 15.94rem 13.181rem 11.047rem 0rem;
      height: calc(100% - 26.9871rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--uyk {
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 11.3697rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
      }
      .item--DzS {
        font-size: 12.8rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1365rem;
        text-align: right;
        font-weight: 700;
      }
    }
    .auto-group-xdfp-97Q {
      margin-right: 5.7104rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--4VG {
        margin: 0rem 1.633rem 38.357rem 0rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        color: #ffffff;
      }
      .item--BZt {
        color: #ffffff;
        flex-shrink: 0;
        margin-left: 1.6325rem;
        font-size: 12.8rem;
        font-weight: 700;
        white-space: nowrap;
        text-align: right;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-cj8n-uVt {
      flex-shrink: 0;
      margin: 11.084rem 0rem 16.054rem 0rem;
      height: calc(100% - 27.1385rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .item--QxS {
        flex-shrink: 0;
        line-height: 1.2125;
        color: #ffffff;
        font-size: 12.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 1.606rem 11.218rem 0rem;
        text-align: right;
      }
      .item--R6r {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
  }
  .property-1frame-4-YhG {
    display: flex;
    flex-shrink: 0;
    width: 79.5rem;
    height: 77.4rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    align-items: center;
    margin: 0.4rem 19.2rem 0rem 0rem;
    box-sizing: border-box;
    padding: 6.4rem 10.2rem 5.3rem 0rem;

    .auto-group-fltr-pPt {
      margin: 11.7rem 16.6rem 13.2rem 0rem;
      height: calc(100% - 24.9rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--kHY {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 9.6rem;
        text-align: right;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-size: 12.8rem;
        flex-shrink: 0;
      }
      .item--54v {
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
      }
    }
    .auto-group-svfx-p2W {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 8.2rem;
      height: 100%;

      .item--mTY {
        text-align: right;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 34.5rem;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .item--qCW {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
      }
    }
    .auto-group-ass6-yZc {
      margin: 11.7rem 0rem 13.2rem 0rem;
      height: calc(100% - 24.9rem);
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--7A2 {
        font-size: 12.8rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 9.6rem;
        text-align: right;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--F1L {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
  }
  .property-1frame-5-nX4 {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 19.2rem 0rem 0rem;
    box-sizing: border-box;
    padding: 4.12rem 4.687rem 3.77rem 4.687rem;
    width: 79.5rem;
    cursor: pointer;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    .auto-group-b3wg-gsL {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 7.445rem 9.45rem 0rem;
      width: calc(100% - 7.4445rem);
      display: flex;

      .auto-group-doaa-Ra2 {
        height: 28.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 14.582rem 2.594rem 0rem;
        width: 40.4rem;

        .item--8zE {
          top: 12.6rem;
          text-align: right;
          white-space: nowrap;
          width: 7.7rem;
          position: absolute;
          left: 10.8762rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          height: 15.6rem;
          font-size: 12.8rem;
          font-weight: 700;
        }
        .item--2pi {
          left: 0;
          top: 0;
          text-align: right;
          white-space: nowrap;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 40.4rem;
          height: 15.6rem;
          position: absolute;
          font-size: 12.8rem;
          font-weight: 700;
        }
      }
      .item--wgn {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
      }
    }
    .auto-group-zw4a-geN {
      margin: 0rem 5.877rem 0rem 11.595rem;
      width: calc(100% - 17.4716rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item--D8W {
        margin-right: 7.9315rem;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--Vri {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 12.8rem;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin: 13.665rem 14.124rem 0rem 0rem;
        text-align: right;
      }
      .item--2Lr {
        white-space: nowrap;
        margin-top: 1.065rem;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .property-1frame-6-W18 {
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 79.5rem;
    cursor: pointer;
    position: relative;
    margin: 0.4rem 19.2rem 0rem 0rem;
    padding: 4.857rem 10.686rem 3.018rem 8.192rem;
    overflow: hidden;
    display: flex;

    .auto-group-ehdk-Zzz {
      margin: 0rem 0rem 9.07rem 7.534rem;
      width: calc(100% - 7.5341rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .item--W9Y {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.9875rem;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
      .auto-group-52bl-ELS {
        margin-bottom: 2.2406rem;
        width: 40.4rem;
        height: 28.0091rem;
        position: relative;
        flex-shrink: 0;

        .item--y38 {
          width: 7.7rem;
          position: absolute;
          left: 10.767rem;
          top: 0;
          text-align: right;
          font-size: 12.8rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 15.6rem;
          font-weight: 700;
        }
        .item--GH8 {
          top: 12.4091rem;
          font-size: 12.8rem;
          font-weight: 700;
          width: 40.4rem;
          height: 15.6rem;
          position: absolute;
          left: 0;
          text-align: right;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-ra2e-61G {
      margin-right: 1.7827rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item--e2n {
        font-size: 12.8rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-weight: 700;
        margin: 2.196rem 14.233rem 0rem 0rem;
      }
      .item--kbc {
        white-space: nowrap;
        margin: 14.605rem 14.006rem 0rem 0rem;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item--3qc {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
  }
  .property-1frame-7-nYJ {
    box-sizing: border-box;
    width: 79.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0.4rem;
    padding: 6.4rem 10.2rem 5.3rem 6.4rem;
    display: flex;
    flex-direction: column;

    .auto-group-bzaa-ktS {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-bottom: 9.6rem;

      .item--eyp {
        text-align: right;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.7rem;
        font-size: 12.8rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--9fg {
        margin: 0rem 16.6rem 13.2rem 0rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--4Gr {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-khaz-zRQ {
      margin-left: 7.5rem;
      width: calc(100% - 7.5rem);
      height: 27.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .item--XgE {
        margin-right: 7.3rem;
        font-size: 12.8rem;
        font-weight: 700;
        white-space: nowrap;
        text-align: right;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-q3er-G82 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 40.4rem;

        .item--Dox {
          height: 15.6rem;
          position: absolute;
          left: 0;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          width: 40.4rem;
          top: 0;
          text-align: right;
          font-size: 12.8rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--WYA {
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          height: 15.6rem;
          position: absolute;
          top: 11.7rem;
          font-size: 12.8rem;
          font-family: Inter, 'Source Sans Pro';
          width: 7.7rem;
          left: 8.4rem;
          text-align: right;
          font-weight: 700;
        }
      }
    }
  }
}
