
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43.5rem;
}.typing-qqC {
  position: relative;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 2rem;

  .property-1default-x98 {
    width: 3.5rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-u4N {
      width: 3.6rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-9r18-4T4 {
        vertical-align: top;
        width: 3.5rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant2-AW6 {
    width: 6.7rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-7gE {
      width: 6.8rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-g3ja-gUS {
        width: 6.7rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant3-DUN {
    width: 10.5rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-xRx {
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 10.6rem;

      .auto-group-hnka-6YA {
        vertical-align: top;
        width: 10.5rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant4-xKU {
    flex-shrink: 0;
    width: 12.2rem;
    height: 7.8rem;
    cursor: pointer;

    .mask-group-WLz {
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 12.3rem;

      .auto-group-kzt2-4tJ {
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 12.2rem;
      }
    }
  }
  .property-1variant5-o5C {
    width: 16rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-whC {
      width: 16.1rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-x1o8-VCv {
        vertical-align: top;
        width: 16rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant6-coL {
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 19.8rem;

    .mask-group-mw8 {
      width: 19.9rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-19sq-wai {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 19.8rem;
        height: 7.8rem;
      }
    }
  }
  .property-1variant7-Gst {
    width: 23.4rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-ocv {
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 23.5rem;

      .auto-group-whml-kHG {
        width: 23.4rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant8-Uyx {
    flex-shrink: 0;
    width: 19.8rem;
    height: 7.8rem;
    cursor: pointer;

    .mask-group-drr {
      width: 19.9rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-ysee-oFY {
        vertical-align: top;
        width: 19.8rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
      }
    }
  }
  .property-1variant9-7GE {
    width: 16rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-eGA {
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 16.1rem;

      .auto-group-4wbu-bx6 {
        width: 16rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant10-jHc {
    width: 12.3rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-tAW {
      box-sizing: border-box;
      width: 12.4rem;
      height: 100%;
      border-right: solid 0.1rem #000000;

      .auto-group-du8z-qrS {
        width: 12.3rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant11-Ykr {
    width: 10.6rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-Gwk {
      width: 10.7rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-fmtg-SLS {
        width: 10.6rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant12-AXL {
    width: 6.9rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-Wr6 {
      width: 7rem;
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-dlbc-fU6 {
        width: 6.9rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .property-1variant13-o4W {
    width: 3.5rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-vup {
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 3.6rem;
      height: 100%;

      .auto-group-nmgw-h9t {
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 3.5rem;
      }
    }
  }
  .property-1variant14-De2 {
    width: 0.1rem;
    height: 7.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .mask-group-91t {
      height: 100%;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 0.2rem;

      .auto-group-gdsg-hp6 {
        width: 0.1rem;
        height: 7.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
