
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 21.9rem;
}.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-jV4 {
  width: 100%;
  height: 8.1rem;
  text-align: center;
  font-size: 2.1301rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
