
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-6-Uve {
  width: 100%;
  height: 704.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.macbook-pro-16-6-Uve .line-7-rwC {
  width: 170.8rem;
  height: 0.0811rem;
  position: absolute;
  left: 1rem;
  top: 488.7rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .roadmap-timeline-XGe {
  width: 86.7rem;
  height: 10.5rem;
  position: absolute;
  left: 44.1rem;
  top: 497.7rem;
  text-align: right;
  font-size: 8.5893rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-mwg {
  width: 21.9rem;
  height: 8.1rem;
  position: absolute;
  left: 29.7313rem;
  top: 520.85rem;
  text-align: center;
  font-size: 2.1301rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .join-gaia-in-our-mission-to-foster-sustainability-and-environmental-betterment-through-innovation-and-educational-initiatives-embrace-the-opportunity-to-contribute-to-a-more-ecologically-sustainable-future-for-our-world-dyt {
  width: 85.5rem;
  height: 14.9rem;
  position: absolute;
  left: 9.8rem;
  top: 645.7rem;
  font-size: 2.9564rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .auto-group-uvgr-rLr {
  width: 15rem;
  height: 4.5rem;
  position: absolute;
  left: 9.8rem;
  top: 663.1rem;
  display: flex;
  align-items: flex-start;
}
.macbook-pro-16-6-Uve .auto-group-uvgr-rLr .explore-Rgn {
  margin-right: 0.4rem;
  cursor: pointer;
  font-size: 3.313rem;
  font-weight: 600;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uvgr-rLr .item--YFc {
  margin-top: 0.2rem;
  font-size: 3.3524rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .line-5-r1Q {
  width: 94.2103rem;
  height: 0.0811rem;
  position: absolute;
  left: 40.2101rem;
  top: 297.2rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .line-6-LhG {
  width: 94.2103rem;
  height: 0.0811rem;
  position: absolute;
  left: 40.3rem;
  top: 392.4813rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .educational-website-UoU {
  width: 84.3rem;
  height: 8.6rem;
  position: absolute;
  left: 45.2319rem;
  top: 308.3rem;
  text-align: center;
  font-size: 7.0168rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .offers-eco-social-knowledge-with-videos-for-all-ages-from-students-to-specialists-its-a-versatile-tool-for-learning-and-there-are-plans-to-introduce-supervisors-for-personalized-assistance-AgJ {
  width: 91.3rem;
  height: 10.6rem;
  position: absolute;
  left: 42.42rem;
  top: 318.9rem;
  text-align: center;
  font-size: 2.7995rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS {
  box-sizing: border-box;
  padding: 5.495rem 5.448rem 6.597rem 5.8rem;
  width: 102.2192rem;
  height: 36.9983rem;
  position: absolute;
  left: 35.3rem;
  top: 337.9813rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #816dbc;
  border-radius: 6.8801rem;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-a7ws-1KY {
  margin-bottom: 8.8078rem;
  width: 100%;
  height: 6.7589rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-a7ws-1KY .auto-group-ar1l-ijk {
  margin: 0.005rem 3.041rem 0.019rem 0rem;
  width: 20.4592rem;
  height: calc(100% - 0.0239rem);
  font-size: 2.5415rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2eb;
  border-radius: 3.3675rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-a7ws-1KY .auto-group-xyhk-V8E {
  margin: 0.024rem 3.043rem 0rem 0rem;
  width: 20.4592rem;
  height: calc(100% - 0.0239rem);
  font-size: 2.5415rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2eb;
  border-radius: 3.3675rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-a7ws-1KY .auto-group-2ksq-x1p {
  margin: 0rem 3.05rem 0.024rem 0rem;
  width: 20.4592rem;
  height: calc(100% - 0.0239rem);
  font-size: 2.5415rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2eb;
  border-radius: 3.3675rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-a7ws-1KY .auto-group-msp8-oHL {
  margin-bottom: 0.0239rem;
  width: 20.4592rem;
  height: calc(100% - 0.0239rem);
  font-size: 2.5415rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2eb;
  border-radius: 3.3675rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-zjjl-SbC {
  margin: 0rem 9.975rem 0rem 7.291rem;
  box-sizing: border-box;
  padding: 0.508rem 0.699rem 0.572rem 4.13rem;
  width: calc(100% - 17.2669rem);
  height: 9.3401rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4.67rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-zjjl-SbC .typing-Hri {
  margin: 1.398rem 57.438rem 1.906rem 0rem;
  width: 2.2874rem;
  height: calc(100% - 3.304rem);
  cursor: pointer;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-zjjl-SbC .typing-Hri .mask-group-zWE {
  width: 100%;
  height: 100%;
  border-right: solid 0.0635rem #000000;
  box-sizing: border-box;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-zjjl-SbC .typing-Hri .mask-group-zWE .auto-group-atwi-La6 {
  width: 2.2238rem;
  height: 4.956rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-q8uq-ZiS .auto-group-zjjl-SbC .auto-group-deoc-6xa {
  width: 9.1495rem;
  height: 100%;
  font-size: 4.0664rem;
  font-weight: 700;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2eb;
  border-radius: 4.1935rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-8-knE {
  width: 24.6952rem;
  height: 4.2rem;
  position: absolute;
  left: 74.1rem;
  top: 381.6813rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .group-8-knE .see-more-HXG {
  margin-right: 1.9rem;
  font-size: 3.313rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-8-knE .auto-group-ewza-DA2 {
  margin: 0.271rem 0rem 0.529rem 0rem;
  width: 6.2952rem;
  height: calc(100% - 0.8rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-8-knE .auto-group-ewza-DA2 .vector-1-ULr {
  width: 6.0714rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.9286rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .group-8-knE .auto-group-ewza-DA2 .item--Zt6 {
  width: 1.7rem;
  height: 3.4rem;
  position: absolute;
  left: 4.5952rem;
  top: 0;
  font-size: 2.682rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .line-3-RvJ {
  width: 94.2103rem;
  height: 0.0811rem;
  position: absolute;
  left: 40.4101rem;
  top: 206.7924rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW {
  width: 131.2518rem;
  height: 70.7674rem;
  position: absolute;
  left: 19.3482rem;
  top: 0;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta {
  margin-right: 4.7rem;
  width: 114.1518rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 {
  width: 48.3039rem;
  height: 68.315rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .logo-text-2-YNe {
  width: 46.6583rem;
  height: 65.9708rem;
  position: absolute;
  left: 18.9068rem;
  top: 7.5461rem;
  overflow: hidden;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .vector-FXx {
  width: 21.26rem;
  height: 4.0573rem;
  position: absolute;
  left: 12.2529rem;
  top: 3.8135rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .black-1-b62 {
  width: 2.8401rem;
  height: 2.7589rem;
  position: absolute;
  left: 8.6402rem;
  top: 10.3381rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .vector-v8J {
  width: 21.2905rem;
  height: 4.0951rem;
  position: absolute;
  left: 17.0678rem;
  top: 14.8315rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .vector-Te2 {
  width: 21.2905rem;
  height: 4.0951rem;
  position: absolute;
  left: 11.2677rem;
  top: 18.0442rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .logo-text-1-RJ2 .gaia-PGn {
  width: 6.3rem;
  height: 4.1rem;
  position: absolute;
  left: 11.9488rem;
  top: 9.5219rem;
  font-size: 2.5966rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .ellipse-7-fVC {
  width: 6.4104rem;
  height: 5.5178rem;
  position: absolute;
  left: 90.3997rem;
  top: 55.3495rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .care-and-share-together-1JA {
  width: 67.8rem;
  height: 5.7rem;
  position: absolute;
  left: 33.6518rem;
  top: 41.2851rem;
  font-size: 4.6705rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .environment-is-one-of-us-one-of-us-is-indeed-a-part-of-environment-WVp {
  width: 83.5rem;
  height: 3.2rem;
  position: absolute;
  left: 27.9795rem;
  top: 47.9653rem;
  text-align: center;
  font-size: 2.5966rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .rectangle-1-Nnv {
  width: 54.0425rem;
  height: 5.5178rem;
  position: absolute;
  left: 42.6677rem;
  top: 55.3495rem;
  border: solid 0.0811rem #000000;
  box-sizing: border-box;
  border-radius: 3.895rem;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .faq-tFU {
  width: 3.7rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 95.7518rem;
  top: 10.5rem;
  font-size: 1.8703rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .auto-group-ffnj-Uta .projects-Mer {
  width: 9.8rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 104.3518rem;
  top: 10.6rem;
  font-size: 1.8703rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-x6ga-9LW .contact-us-fQe {
  margin-bottom: 27.4674rem;
  font-size: 1.8703rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-1-bJJ {
  width: 9.1694rem;
  height: 4.0345rem;
  position: absolute;
  left: 83.5741rem;
  top: 63.8811rem;
  display: flex;
  align-items: flex-end;
}
.macbook-pro-16-6-Uve .group-1-bJJ .psheno2-15-7XY {
  margin-right: 1.1003rem;
  width: 1.9561rem;
  height: 4.0345rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-1-bJJ .recycle1-15-Spi {
  margin-right: 0.9781rem;
  width: 2.8119rem;
  height: 2.8119rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-1-bJJ .list-34-NyG {
  width: 2.3229rem;
  height: 4.0345rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .line-1-uTQ {
  width: 170.8rem;
  height: 0.0901rem;
  position: absolute;
  left: 1rem;
  top: 85.8rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .join-gaia-and-save-the-environment-eA6 {
  width: 64.3rem;
  height: 12.6rem;
  position: absolute;
  left: 26.4155rem;
  top: 108.1rem;
  font-size: 5.1933rem;
  font-weight: 700;
  line-height: 1.2102272627;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .join-gaia-and-save-the-environment-eA6 .join-gaia-and-save-the-environment-eA6-sub-0 {
  font-size: 5.1933rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .join-gaia-and-save-the-environment-eA6 .join-gaia-and-save-the-environment-eA6-sub-1 {
  font-size: 5.1933rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #7ba32e;
  font-family: Inter, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .gaia-is-an-organization-with-intentions-to-create-new-solutions-to-complete-eco-social-tasks-with-the-best-options-possible-by-implementing-our-gaia-based-ideas-gaias-main-task-to-create-an-environment-with-ecological-sustainability-which-will-lead-to-better-social-life-with-healthy-impact-on-a-society-and-environment-c2N {
  width: 69.7rem;
  height: 19.6rem;
  position: absolute;
  left: 25.4155rem;
  top: 125.3839rem;
  font-size: 2.5966rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .leafs-uQn {
  width: 31.4113rem;
  height: 41.6273rem;
  position: absolute;
  left: 118.4rem;
  top: 104.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-nxlw-C8z {
  margin: 0rem 0rem 2.84rem 0.008rem;
  width: calc(100% - 0.0083rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-nxlw-C8z .list-24-u3Q {
  margin-right: 3.9802rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-nxlw-C8z .list-26-dk6 {
  margin-right: 4.0573rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-nxlw-C8z .list-28-a9Y {
  margin-right: 4.0531rem;
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-nxlw-C8z .list-32-KN2 {
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-srwg-2GS {
  margin: 0rem 0.004rem 2.84rem 0.004rem;
  width: calc(100% - 0.0083rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-srwg-2GS .list-23-MZc {
  margin-right: 3.9802rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-srwg-2GS .list-25-u5L {
  margin-right: 4.0572rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-srwg-2GS .list-27-qjg {
  margin-right: 4.0531rem;
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-srwg-2GS .list-30-AGA {
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-jwf8-Hbg {
  margin: 0rem 0.004rem 2.84rem 0.004rem;
  width: calc(100% - 0.0083rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-jwf8-Hbg .list-20-ctr {
  margin-right: 3.9802rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-jwf8-Hbg .list-21-xSv {
  margin-right: 4.0572rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-jwf8-Hbg .list-22-5XY {
  margin-right: 4.0531rem;
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-jwf8-Hbg .list-31-Dte {
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-3tna-A3C {
  margin-right: 0.0083rem;
  width: calc(100% - 0.0083rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-3tna-A3C .list-12-JQJ {
  margin-right: 3.9802rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-3tna-A3C .list-11-FaS {
  margin-right: 4.0572rem;
  width: 4.8687rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-3tna-A3C .list-19-beJ {
  margin-right: 4.0531rem;
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .leafs-uQn .auto-group-3tna-A3C .list-29-k1Q {
  width: 4.7875rem;
  height: 8.2768rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .line-4-S98 {
  width: 126.8rem;
  height: 0.0811rem;
  position: absolute;
  left: 25.2rem;
  top: 159.3rem;
  background-color: #000000;
}
.macbook-pro-16-6-Uve .auto-group-b71l-ZzS {
  width: 96.5324rem;
  height: 4.1rem;
  position: absolute;
  left: 38.2741rem;
  top: 179.0206rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .auto-group-b71l-ZzS .reliable-har {
  margin-right: 26.7307rem;
  font-size: 3.2458rem;
  font-weight: 700;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-b71l-ZzS .eco-friendly-E4z {
  margin-right: 28.4017rem;
  font-size: 3.2458rem;
  font-weight: 700;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-b71l-ZzS .helpful-xWn {
  font-size: 3.2458rem;
  font-weight: 700;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-qze2-6st {
  width: 118.2267rem;
  height: 9.8rem;
  position: absolute;
  left: 27.6042rem;
  top: 184.5384rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .auto-group-qze2-6st .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-RvA {
  margin-right: 9.901rem;
  max-width: 32.7rem;
  text-align: center;
  font-size: 1.9475rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-qze2-6st .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-f3p {
  margin-right: 10.2256rem;
  max-width: 32.7rem;
  text-align: center;
  font-size: 1.9475rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-qze2-6st .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-w1L {
  max-width: 32.7rem;
  text-align: center;
  font-size: 1.9475rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i {
  width: 93.2374rem;
  height: 8.8921rem;
  position: absolute;
  left: 40.3823rem;
  top: 168.1716rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i .layer1-Mqk {
  margin: 0.459rem 35.88rem 0.547rem 0rem;
  box-sizing: border-box;
  padding: 2.273rem 2.011rem 2.288rem 2.057rem;
  height: calc(100% - 1.0059rem);
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-aga.png');
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i .layer1-Mqk .vector-fbY {
  width: 3.1567rem;
  height: 3.3252rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i .layer1-AoC {
  margin-right: 35.8rem;
  box-sizing: border-box;
  padding: 3.025rem 1.177rem 2.745rem 1.177rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-MNa.png');
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i .layer1-AoC .vector-GLS {
  width: 3.7826rem;
  height: 3.1225rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-fhtq-q6i .layer1-138 {
  margin-top: 0.3915rem;
  width: 8.1963rem;
  height: 7.5471rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L {
  width: 146.6rem;
  height: 61.2rem;
  position: absolute;
  left: 13rem;
  top: 219rem;
  display: flex;
  align-items: flex-end;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze {
  margin: 0rem 8.832rem 1.477rem 0rem;
  box-sizing: border-box;
  padding: 5.193rem 6.735rem 1.276rem 5.227rem;
  width: 62.9684rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-ljmx-X9t {
  margin-bottom: 7.8485rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-ljmx-X9t .item--4JE {
  margin-right: 12.6879rem;
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-ljmx-X9t .item--8Yz {
  margin: 0rem 13.418rem 10.711rem 0rem;
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-ljmx-X9t .item--1Mt {
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-adpe-Y6v {
  margin-left: 6rem;
  width: calc(100% - 6rem);
  height: 22.0939rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-adpe-Y6v .item--56r {
  margin-right: 5.9061rem;
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-adpe-Y6v .auto-group-vapa-Bfg {
  width: 32.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-adpe-Y6v .auto-group-vapa-Bfg .item--i9p {
  width: 32.8rem;
  height: 12.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .recycle-Gze .auto-group-adpe-Y6v .auto-group-vapa-Bfg .item--kPL {
  width: 6.3rem;
  height: 12.6rem;
  position: absolute;
  left: 6.7818rem;
  top: 9.4939rem;
  text-align: right;
  font-size: 10.3865rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 {
  width: 74.8rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .gaia-recycle-yWz {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 7.303rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .revolutionizing-food-waste-management-by-connecting-producers-and-consumers-for-waste-reduction-resource-conservation-and-economic-advantages-all-while-fostering-ecological-responsibility-join-us-in-creating-a-sustainable-ecosystem-uQe {
  margin-bottom: 7rem;
  max-width: 74.8rem;
  font-size: 2.4343rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .together-we-can-make-a-positive-impact-on-our-environment-while-addressing-food-security-and-sustainability-challenges-j8n {
  margin-bottom: 8.4rem;
  max-width: 49.6rem;
  font-size: 2.4343rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .group-10-afC {
  margin-right: 50.1048rem;
  width: calc(100% - 50.1048rem);
  height: 4.2rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .group-10-afC .see-more-6Ne {
  margin-right: 1.9rem;
  font-size: 3.313rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .group-10-afC .auto-group-evpw-ppS {
  margin: 0.271rem 0rem 0.529rem 0rem;
  width: 6.2952rem;
  height: calc(100% - 0.8rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .group-10-afC .auto-group-evpw-ppS .vector-1-jwQ {
  width: 6.0714rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.9286rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .auto-group-uxan-99L .auto-group-kqhg-dT8 .group-10-afC .auto-group-evpw-ppS .item--HT8 {
  width: 1.7rem;
  height: 3.4rem;
  position: absolute;
  left: 4.5952rem;
  top: 0;
  font-size: 2.682rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .marketplace-kbc {
  width: 53.4rem;
  height: 8.6rem;
  position: absolute;
  left: 65.2243rem;
  top: 403.0813rem;
  text-align: center;
  font-size: 7.0168rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .group-9-cdp {
  width: 24.6952rem;
  height: 4.2rem;
  position: absolute;
  left: 93.2rem;
  top: 471.6rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .group-9-cdp .see-more-wg6 {
  margin-right: 1.9rem;
  font-size: 3.313rem;
  font-weight: 400;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-9-cdp .auto-group-rqdg-spe {
  margin: 0.271rem 0rem 0.529rem 0rem;
  width: 6.2952rem;
  height: calc(100% - 0.8rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .group-9-cdp .auto-group-rqdg-spe .vector-1-oCW {
  width: 6.0714rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.9286rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .group-9-cdp .auto-group-rqdg-spe .item--9GN {
  width: 1.7rem;
  height: 3.4rem;
  position: absolute;
  left: 4.5952rem;
  top: 0;
  font-size: 2.682rem;
  font-weight: 400;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv {
  width: 135.1rem;
  height: 41.9rem;
  position: absolute;
  left: 17.9rem;
  top: 426.5rem;
  display: flex;
  align-items: flex-end;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv .rectangle-12-Zqt {
  margin: 0rem 14.8rem 0.1rem 0rem;
  width: 60.5rem;
  height: 41.8rem;
  background-color: rgba(123, 163, 46, 0.1199999973);
  border-radius: 7.7rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv .auto-group-ttpg-t7U {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv .auto-group-ttpg-t7U .food-sustainability-by-connecting-individuals-to-reduce-waste-and-lower-costs-qYW {
  margin-bottom: 8.4rem;
  max-width: 53.5rem;
  font-size: 2.4343rem;
  font-weight: 500;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv .auto-group-ttpg-t7U .a-green-solution-to-combat-food-waste-benefiting-both-the-environment-and-your-budget-93Q {
  margin-bottom: 11rem;
  max-width: 56.5rem;
  font-size: 2.4343rem;
  font-weight: 500;
  line-height: 1.255;
  color: #7ba32e;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-syyt-eiv .auto-group-ttpg-t7U .joining-gaia-marketplace-means-participating-in-a-community-dedicated-to-creating-a-more-eco-friendly-and-sustainable-future-CnN {
  max-width: 59.8rem;
  font-size: 2.4343rem;
  font-weight: 500;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-wpas-HJ2 {
  width: 33.2rem;
  height: 4.6rem;
  position: absolute;
  left: 7.5rem;
  top: 691.5rem;
  display: flex;
  align-items: flex-end;
}
.macbook-pro-16-6-Uve .auto-group-wpas-HJ2 .black-1-R9L {
  margin-right: 16.2rem;
  width: 4.5rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .auto-group-wpas-HJ2 .contact-us-72A {
  font-size: 2.5739rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: lowercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .instagram-EsU {
  width: 12.1rem;
  height: 3.2rem;
  position: absolute;
  left: 28.2rem;
  top: 697.1rem;
  font-size: 2.5739rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .frame-10-YtA {
  width: 114.8305rem;
  height: 45.1296rem;
  position: absolute;
  left: 12.8rem;
  top: 557rem;
  overflow: hidden;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .frequently-asked-questions-Fna {
  margin: 1.8rem 22.7rem 0rem 0rem;
  max-width: 66.6rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt {
  box-sizing: border-box;
  padding: 1rem 0rem 1.03rem 1rem;
  width: 25.5305rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-RqU {
  width: 51.7rem;
  height: 9.8rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-RqU .question-zNn {
  width: 23.5305rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-RqU .question-zNn .item--7yC {
  margin-right: 5.5305rem;
  cursor: pointer;
  text-align: right;
  font-size: 4.2536rem;
  font-weight: 300;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-RqU .question-zNn .question-ykW {
  margin-top: 0.6211rem;
  text-align: right;
  font-size: 2.7842rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-762 {
  width: 51.7rem;
  height: 9.8rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-762 .question-s5C {
  width: 23.5305rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-762 .question-s5C .item--Der {
  margin-right: 5.5305rem;
  cursor: pointer;
  text-align: right;
  font-size: 4.2536rem;
  font-weight: 300;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-762 .question-s5C .question-W8A {
  margin-top: 0.6211rem;
  text-align: right;
  font-size: 2.7842rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-cgz {
  width: 51.7rem;
  height: 9.8rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-cgz .question-yXY {
  width: 23.5305rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-cgz .question-yXY .item--vxa {
  margin-right: 5.5305rem;
  cursor: pointer;
  text-align: right;
  font-size: 4.2536rem;
  font-weight: 300;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-cgz .question-yXY .question-eta {
  margin-top: 0.6211rem;
  text-align: right;
  font-size: 2.7842rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-b38 {
  width: 51.7rem;
  height: 9.8rem;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-b38 .question-wsg {
  width: 23.5305rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-b38 .question-wsg .item--sFY {
  margin-right: 5.5305rem;
  cursor: pointer;
  text-align: right;
  font-size: 4.2536rem;
  font-weight: 300;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .accordion-b38 .question-wsg .question-ypN {
  margin-top: 0.6211rem;
  text-align: right;
  font-size: 2.7842rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .group-12-5sQ {
  margin-right: 3.8059rem;
  width: calc(100% - 3.8059rem);
  height: 3.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .group-12-5sQ .see-more-bqk {
  margin-right: 1.4789rem;
  font-size: 2.7842rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .group-12-5sQ .group-7-KFx {
  margin: 0.252rem 0rem 0.348rem 0rem;
  width: 5.3458rem;
  height: calc(100% - 0.6rem);
  position: relative;
  flex-shrink: 0;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .group-12-5sQ .group-7-KFx .vector-1-d1k {
  width: 5.1023rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-pro-16-6-Uve .frame-10-YtA .frame-2-gzN .faqs-xwt .group-12-5sQ .group-7-KFx .item--wYE {
  width: 1.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.9458rem;
  top: 0;
  font-size: 2.2538rem;
  font-weight: 400;
  line-height: 1.255;
  color: #816dbc;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-16-6-Uve .line-8-35U {
  width: 170.8rem;
  height: 0.0811rem;
  position: absolute;
  left: 1rem;
  top: 538.4rem;
  background-color: #000000;
}
